In [1]:
from bs4 import BeautifulSoup
import pandas as pd
import requests
import csv
import os
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager
import pymongo
from flask import Flask, render_template
from pprint import pprint

In [2]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 93.0.4577
Get LATEST driver version for 93.0.4577
Driver [/Users/bethanymorton/.wdm/drivers/chromedriver/mac64/93.0.4577.63/chromedriver] found in cache

In [3]:
#NEWS ARTICLE

In [4]:
url = 'https://redplanetscience.com/#'
browser.visit(url)

In [5]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [6]:
news_title = soup.find_all('div', class_='content_title')[0].text
news_p = soup.find_all('div', class_='article_teaser_body')[0].text

In [7]:
news_title

"HiRISE Views NASA's InSight and Curiosity on Mars"

In [8]:
news_p

'New images taken from space offer the clearest orbital glimpse yet of InSight as well as a view of Curiosity rolling along.'

In [9]:
n_t = "HiRISE Views NASA's InSight and Curiosity on Mars"
n_p = "You have until Sept. 30 to send your names to Mars aboard the Mars 2020 rover."

In [ ]:
#IMAGE SEARCH

In [10]:
jpl_url2 = 'https://spaceimages-mars.com/'
browser.visit(jpl_url2)

In [11]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
image= soup.find_all('img')[2]
image_url = (image.get("src"))

In [12]:
featured_image_url = jpl_url2 + image_url

In [13]:
featured_image_url

'https://spaceimages-mars.com/image/mars/Icaria Fossae7.jpg'

In [14]:
#MARS FACTS

In [15]:
facts_url = 'https://galaxyfacts-mars.com'

In [16]:
tables = pd.read_html(facts_url)
tables

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [17]:
type(tables)

list

In [18]:
tables[0]

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [19]:
tables[1]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [20]:
tables_df = pd.merge(tables[0], tables[1], how= 'outer')

In [21]:
tables_df

                          0                              1                2
0   Mars - Earth Comparison                           Mars            Earth
1                 Diameter:                       6,779 km        12,742 km
2                     Mass:                6.39 × 10^23 kg  5.97 × 10^24 kg
3                    Moons:                              2                1
4        Distance from Sun:                 227,943,824 km   149,598,262 km
5           Length of Year:                 687 Earth days      365.24 days
6              Temperature:                   -87 to -5 °C      -88 to 58°C
7      Equatorial Diameter:                       6,792 km              NaN
8           Polar Diameter:                       6,752 km              NaN
9                     Mass:  6.39 × 10^23 kg (0.11 Earths)              NaN
10                   Moons:          2 ( Phobos & Deimos )              NaN
11          Orbit Distance:       227,943,824 km (1.38 AU)              NaN
12            Orbit Period:           687 days (1.9 years)              NaN
13     Surface Temperature:                   -87 to -5 °C              NaN
14            First Record:              2nd millennium BC              NaN
15             Recorded By:           Egyptian astronomers              NaN

In [22]:
edited_df = tables_df.drop(columns=2)
edited_df

                          0                              1
0   Mars - Earth Comparison                           Mars
1                 Diameter:                       6,779 km
2                     Mass:                6.39 × 10^23 kg
3                    Moons:                              2
4        Distance from Sun:                 227,943,824 km
5           Length of Year:                 687 Earth days
6              Temperature:                   -87 to -5 °C
7      Equatorial Diameter:                       6,792 km
8           Polar Diameter:                       6,752 km
9                     Mass:  6.39 × 10^23 kg (0.11 Earths)
10                   Moons:          2 ( Phobos & Deimos )
11          Orbit Distance:       227,943,824 km (1.38 AU)
12            Orbit Period:           687 days (1.9 years)
13     Surface Temperature:                   -87 to -5 °C
14            First Record:              2nd millennium BC
15             Recorded By:           Egyptian astronomers

In [23]:
mars_df = edited_df.drop([0,9,10,11,12,13], axis=0)
mars_df

                       0                     1
1              Diameter:              6,779 km
2                  Mass:       6.39 × 10^23 kg
3                 Moons:                     2
4     Distance from Sun:        227,943,824 km
5        Length of Year:        687 Earth days
6           Temperature:          -87 to -5 °C
7   Equatorial Diameter:              6,792 km
8        Polar Diameter:              6,752 km
14         First Record:     2nd millennium BC
15          Recorded By:  Egyptian astronomers

In [24]:
mars_final_df = mars_df.rename(columns= {0: "Fact"})
mars_final_df

                    Fact                     1
1              Diameter:              6,779 km
2                  Mass:       6.39 × 10^23 kg
3                 Moons:                     2
4     Distance from Sun:        227,943,824 km
5        Length of Year:        687 Earth days
6           Temperature:          -87 to -5 °C
7   Equatorial Diameter:              6,792 km
8        Polar Diameter:              6,752 km
14         First Record:     2nd millennium BC
15          Recorded By:  Egyptian astronomers

In [25]:
Mars_df = mars_final_df.rename(columns= {1: "Mars"})
Mars_df

                    Fact                  Mars
1              Diameter:              6,779 km
2                  Mass:       6.39 × 10^23 kg
3                 Moons:                     2
4     Distance from Sun:        227,943,824 km
5        Length of Year:        687 Earth days
6           Temperature:          -87 to -5 °C
7   Equatorial Diameter:              6,792 km
8        Polar Diameter:              6,752 km
14         First Record:     2nd millennium BC
15          Recorded By:  Egyptian astronomers

In [26]:
html_table = Mars_df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Fact</th>\n      <th>Mars</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>1</th>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>14</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>15</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [27]:
html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Fact</th>      <th>Mars</th>    </tr>  </thead>  <tbody>    <tr>      <th>1</th>      <td>Diameter:</td>      <td>6,779 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2</td>    </tr>    <tr>      <th>4</th>      <td>Distance from Sun:</td>      <td>227,943,824 km</td>    </tr>    <tr>      <th>5</th>      <td>Length of Year:</td>      <td>687 Earth days</td>    </tr>    <tr>      <th>6</th>      <td>Temperature:</td>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>7</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>8</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>14</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>15</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [28]:
Mars_df.to_html('Mars_table.html')

In [29]:
#HIGH RESOLUTION HEMISPHERES

In [30]:
hemi_url = 'https://marshemispheres.com/'
browser.visit(hemi_url)
html= browser.html
soup = BeautifulSoup(html, 'html.parser')

In [31]:
image_hems= soup.find_all('div', class_="item")
image_hems

[<div class="item">
 <a class="itemLink product-item" href="cerberus.html"><img alt="Cerberus Hemisphere Enhanced thumbnail" class="thumb" src="images/39d3266553462198bd2fbc4d18fbed17_cerberus_enhanced.tif_thumb.png"/></a>
 <div class="description">
 <a class="itemLink product-item" href="cerberus.html">
 <h3>Cerberus Hemisphere Enhanced</h3>
 </a>
 <span class="subtitle" style="float:left">image/tiff 21 MB</span><span class="pubDate" style="float:right"></span><br/>
 <p>Mosaic of the Cerberus hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. This mosaic is composed of 104 Viking Orbiter images acquired…</p>
 </div>
 <!-- end description -->
 </div>,
 <div class="item">
 <a class="itemLink product-item" href="schiaparelli.html"><img alt="Schiaparelli Hemisphere Enhanced thumbnail" class="thumb" src="images/08eac6e22c07fb1fe72223a79252de20_schiaparelli_enhanced.tif_thumb.png"/></a>
 <div class="description">
 <a class="itemLink product-item" href="schiaparelli.html">
 <h3>Schiaparelli Hemisphere Enhanced</h3>
 </a>
 <span class="subtitle" style="float:left">image/tiff 35 MB</span><span class="pubDate" style="float:right"></span><br/>
 <p>Mosaic of the Schiaparelli hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. The images were acquired in 1980 during early northern…</p>
 </div>
 <!-- end description -->
 </div>,
 <div class="item">
 <a class="itemLink product-item" href="syrtis.html"><img alt="Syrtis Major Hemisphere Enhanced thumbnail" class="thumb" src="images/55a0a1e2796313fdeafb17c35925e8ac_syrtis_major_enhanced.tif_thumb.png"/></a>
 <div class="description">
 <a class="itemLink product-item" href="syrtis.html">
 <h3>Syrtis Major Hemisphere Enhanced</h3>
 </a>
 <span class="subtitle" style="float:left">image/tiff 25 MB</span><span class="pubDate" style="float:right"></span><br/>
 <p>Mosaic of the Syrtis Major hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. This mosaic is composed of about 100 red and violet…</p>
 </div>
 <!-- end description -->
 </div>,
 <div class="item">
 <a class="itemLink product-item" href="valles.html"><img alt="Valles Marineris Hemisphere Enhanced thumbnail" class="thumb" src="images/4e59980c1c57f89c680c0e1ccabbeff1_valles_marineris_enhanced.tif_thumb.png"/></a>
 <div class="description">
 <a class="itemLink product-item" href="valles.html">
 <h3>Valles Marineris Hemisphere Enhanced</h3>
 </a>
 <span class="subtitle" style="float:left">image/tiff 27 MB</span><span class="pubDate" style="float:right"></span><br/>
 <p>Mosaic of the Valles Marineris hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. The distance is 2500 kilometers from the surface of…</p>
 </div>
 <!-- end description -->
 </div>]

In [32]:
hemisphere_image_urls = []

for image in image_hems:
    try:
        hem= image.find('div', class_="description")
        title= hem.h3.text
        hem_url= hem.a['href']
        browser.visit(hemi_url + hem_url)
        html=browser.html
        soup= BeautifulSoup(html, 'html.parser')
        image_src= soup.find('li').a['href']
        if (title and image_src):
            print('-'*50)
            print(title)
            print(image_src)
        hem_dict= {
            'Title': title,
            'Image_url': image_src
        }
        hemisphere_image_urls.append(hem_dict)
    except Exception as e:
        print(e)

--------------------------------------------------
Cerberus Hemisphere Enhanced
images/full.jpg
--------------------------------------------------
Schiaparelli Hemisphere Enhanced
images/schiaparelli_enhanced-full.jpg
--------------------------------------------------
Syrtis Major Hemisphere Enhanced
images/syrtis_major_enhanced-full.jpg
--------------------------------------------------
Valles Marineris Hemisphere Enhanced
images/valles_marineris_enhanced-full.jpg

In [33]:
mars_dict={
    "News_Title":news_title,
    "News_P":news_p,
    "Featured_Image_Url":featured_image_url,
    "HTML_Table":html_table,
    "Hemisphere_Images":hemisphere_image_urls
    
}

mars_dict

{'News_Title': "HiRISE Views NASA's InSight and Curiosity on Mars",
 'News_P': 'New images taken from space offer the clearest orbital glimpse yet of InSight as well as a view of Curiosity rolling along.',
 'Featured_Image_Url': 'https://spaceimages-mars.com/image/mars/Icaria Fossae7.jpg',
 'HTML_Table': '<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Fact</th>\n      <th>Mars</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>1</th>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>14</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>15</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>',
 'Hemisphere_Images': [{'Title': 'Cerberus Hemisphere Enhanced',
   'Image_url': 'images/full.jpg'},
  {'Title': 'Schiaparelli Hemisphere Enhanced',
   'Image_url': 'images/schiaparelli_enhanced-full.jpg'},
  {'Title': 'Syrtis Major Hemisphere Enhanced',
   'Image_url': 'images/syrtis_major_enhanced-full.jpg'},
  {'Title': 'Valles Marineris Hemisphere Enhanced',
   'Image_url': 'images/valles_marineris_enhanced-full.jpg'}]}